<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" id="title"><%= article.title %></h1>
        <p class="lead" id="description"><%= article.description %></p>
        <a class="btn btn-warning" href="/articles/<%= article._id %>/edit">Edit</a>
        <!-- <p class="lead" id="description">Written by: <%= article.author %></p> -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 border border-primary">
            Add social media icons here and other information
        </div>
        <div class="col-lg-8">
            <div class="content">
               <p><%- article.content %></p> 
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>