<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" id="title"><%= article.title %></h1>
        <p class="lead" id="description"><%= article.description %></p>

        <!-- Edit Article Button -->
        <a class="btn btn-warning" href="/articles/<%= article._id %>/edit">Edit Article</a>
        
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteArticle">
            Delete Article
        </button>

        <!-- Prompt to Confirm Article Delete -->
        <div class="modal fade" id="deleteArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body font-weight-bold text-center">
                        Are you sure you want to delete this article?
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- Delete Article Button -->
                        <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <p class="lead" id="description">Written by: <%= article.author %></p> -->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 border border-primary">
            Add social media icons here and other information
        </div>
        <div class="col-lg-8">
            <div class="content">
               <p><%- article.content %></p> 
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>